<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="container">
  <div class="header">
    <div class="nav">
      <div sec:authorize="isAnonymous()" class="login-btn" onclick="socialLogin()"></div>
      <!-- 프로필 아이콘 및 드롭다운 -->
      <div class="profile-menu" sec:authorize="isAuthenticated()">
        <i class="profile-icon"></i>
        <div class="dropdown-menu">
          <div class="dropdown-item" onclick="editProfile()">정보 수정</div>
          <div class="dropdown-item" onclick="logout()">로그아웃</div>
        </div>
      </div>

    </div>
  </div>

  <div class="title">Title</div>
  <div class="main-content"></div>
  <div class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed mi at dolor suscipit dapibus.
    Donec venenatis leo eget bibendum fringilla. Cras finibus facilisis elit sit amet iaculis.
    Vivamus eu egestas enim. Donec maximus enim vitae magna ultricies posuere.
    Nunc vehicula gravida eros. Proin et augue odio. Vivamus in efficitur justo, in condimentum orci.
    Morbi in dolor at dolor dictum vestibulum ac quis libero.
  </div>
</div>

<!-- 모달 창 -->
<div  class="modal" id="myModal">
  <div class="modal-content">
    <h2>러너 기본정보</h2>

    <!-- 성별 선택 (버튼형) -->
    <label>성별</label>
    <div class="gender-group">
      <input type="radio" id="male" name="gender" value="남">
      <label for="male">남</label>

      <input type="radio" id="female" name="gender" value="여">
      <label for="female">여</label>
    </div>

    <!-- 키 입력 -->
    <label for="height">키 (cm)</label>
    <input type="number" id="height" >

    <!-- 체중 입력 -->
    <label for="weight">체중 (kg)</label>
    <input type="number" id="weight" >

    <!-- 러닝 경력 선택 -->
    <label for="running-years">러닝 몇 년차인가요?</label>
    <select id="running-years">
      <option value="~1년">1년 미만</option>
      <option value="1~2년">1~2년</option>
      <option value="2~5년">2~5년</option>
      <option value="5년~">5년 이상</option>
    </select>

    <!-- 버튼 (제출 & 닫기) -->
    <div class="modal-buttons">
      <button class="submit-btn" onclick="submitData()">저장</button>
      <button sec:authorize="isAuthenticated()" class="close-btn" onclick="closeModal()">닫기</button>
    </div>
  </div>
</div>

<script th:inline="javascript">
  window.userData = /*[[${user}]]*/ {};
</script>
<script src="/js/index.js"></script>

</body>
</html>
