<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="container">
  <div class="header">
    <div class="nav">
      <div class="nav-item">Page</div>
      <div class="nav-item">Page</div>
      <div class="nav-item">Page</div>
      <div sec:authorize="isAnonymous()" class="btn login-btn" onclick="socialLogin()">로그인</div>
      <div sec:authorize="isAuthenticated()" class="btn logout-btn" onclick="logout()">로그아웃</div>
    </div>
  </div>

  <div class="title">Title</div>
  <div class="main-content"></div>
  <div class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed mi at dolor suscipit dapibus.
    Donec venenatis leo eget bibendum fringilla. Cras finibus facilisis elit sit amet iaculis.
    Vivamus eu egestas enim. Donec maximus enim vitae magna ultricies posuere.
    Nunc vehicula gravida eros. Proin et augue odio. Vivamus in efficitur justo, in condimentum orci.
    Morbi in dolor at dolor dictum vestibulum ac quis libero.
  </div>
</div>

<script>
  function socialLogin() {
    window.location.href = '/oauth2/authorization/kakao';
  }
  function logout() {
    window.location.href = '/logout';
  }
</script>

</body>
</html>
